$primary: var(--primary);
$secondary: var(--secondary);
$alternate: var(--alternate);
$header: var(--header);

.test{
  background-color: $header;
}

h1 {
  color: $primary;
}

h2 {
  color: $secondary;
}

star {
  colorr: $secondary;
}