<p>climbers-detail works!</p>
<input type="text" label="Search">
<button (click)="searchClimbers()">Search</button>

<ul class="items">
  <li *ngFor="let climber of ClimberApi">
    <span class="badge">{{climber.id}}</span>{{climber.firstName}}
  </li>
</ul>
<div> Ami de moi :{{getFriendsNameById(2)}}
  {{message}}</div>

<table border="1px">
  <tr>
    <th>id</th>
    <th>created at</th>
    <th>modified at</th>
    <th>deleted at</th>
    <th>first name</th>
    <th>last name</th>
    <th>info</th>
    <th>day</th>
    <th>month</th>
    <th>year</th>

  <tr *ngFor="let climber of ClimberApi">
    <td>{{climber.id}}</td>
    <td>{{climber.createAt}}</td>
    <td>{{climber.modifyAt}}</td>
    <td>{{climber.deleteAt}}</td>
    <td>{{climber.firstName}}</td>
    <td>{{climber.lastName}}</td>
    <td>{{climber.info}}</td>
    <td>{{climber.day}}</td>
    <td>{{climber.month}}</td>
    <td>{{climber.year}}</td>
  </tr>
</table>
