<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<title>Spring Security Example </title>
</head>
<div th:if="${param.error}">
	Invalid username and password.
</div>
<div th:if="${param.logout}">
	You have been logged out.
</div>
<form th:action="@{/templates/login}" method="post">
	<div><label> User Name : <input type="text" name="username"/> </label></div>
	<div><label> Password: <input type="password" name="password"/> </label></div>
	<div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>