<p>climbers-detail works!</p>
<!--<input type="text" label="Search">-->
<!--<button (click)="searchClimbers()">Search</button>-->

<!--<ul class="items">-->
<!--  <li *ngFor="let climber of climbersApi">-->
<!--    <span class="badge">{{climber.idClimber}}</span>{{climber.firstName}}-->
<!--  </li>-->
<!--</ul>-->
<!--<div> Ami de {{getFirstNameByClimberId(2)}}-->
<!--  &lt;!&ndash;  {{getFriendsNameById(2)}}&ndash;&gt;-->
<!--  {{message}}</div>-->

<table>
  <tr>
    <th>Id</th>
    <th>firstName</th>
    <th>lastName</th>
    <th>birth</th>
 <tr *ngFor="let climber of climbersApi">-->
    <td>{{climber.idClimber}}</td>
    <td>{{climber.firstName}}</td>
    <td>{{climber.lastName}}</td>
    <td>{{climber.birth}}</td>
  </tr>
</table>

