<p>climbers-detail works!</p>


<table>
  <tr>
    <th>Id</th>
    <th>mental</th>
    <th>physical</th>
    <th>tactical</th>
  <tr *ngFor="let card of friendsApi">-->
    <td>{{card.idCard}}</td>
    <td>{{card.mental}}</td>
    <td>{{card.physique}}</td>
    <td>{{card.tactique}}</td>
  </tr>
</table>

<table border="1px">
  <tr>
    <th>id</th>
    <th>created at</th>
    <th>modified at</th>
    <th>deleted at</th>
    <th>first name</th>
    <th>last name</th>
    <th>info</th>
    <th>day</th>
    <th>month</th>
    <th>year</th>

  <tr *ngFor="let climber of ClimberApi">
    <td>{{climber.id}}</td>
    <td>{{climber.createAt}}</td>
    <td>{{climber.modifyAt}}</td>
    <td>{{climber.deleteAt}}</td>
    <td>{{climber.firstName}}</td>
    <td>{{climber.lastName}}</td>
    <td>{{climber.info}}</td>
    <td>{{climber.day}}</td>
    <td>{{climber.month}}</td>
    <td>{{climber.year}}</td>
  </tr>
</table>

