* {
  box-sizing: border-box;
}

.grid-container {
  position: relative;
  display: grid;
  /*on cree plusieurs colonne ici*/
  grid-template-columns: 0.4fr 2fr;
  grid-template-rows: 1fr 10fr 0.3fr;
  grid-gap: 0.2em;
  grid-column-gap: 0.2em;
  grid-template-areas:
  "header  header"
  "sidebar content"
  "footer footer"
;
}
.grid-item-1{
  position:sticky ;
  top: 0;
  background-color: #0062E6;
  padding: 1em;
  grid-area: header;
}

.grid-item-2{
  background-color: #91e6c5;
  padding: 1em;
  grid-area: sidebar;
}

.grid-item-3{
  background-color: #e4e6cc;
  padding: 1em;
  grid-area: content;
}

.grid-item-4{
  position: sticky;
  bottom: 0px;
  background-color: #e66bac;
  grid-area: footer;
}

