* {
  box-sizing: border-box;
}

.grid-container {
  position: relative;
  display: grid;
  /*on cree plusieurs colonne ici*/
  grid-template-columns: 0.15fr 0.15fr 0.15fr 0.15fr 0.15fr 0.15fr 0.15fr;
  grid-template-rows: 1fr 10fr 0.3fr;
  grid-gap: 0.1em;
  /*justify-content: center;*/
  align-content: center;
}

.button-center {
  text-align: center;
  background-color: #0062E6;
  color: #e4e6cc;
}

.grid-item-1 {
  position: sticky;
  top: 0;
  background-color: #0062E6;
  grid-column: 1 /2;
}

.grid-item-2 {
  position: sticky;
  top: 0;
  background-color: #0062E6;
  grid-column: 2 /3;
}

.grid-item-3 {
  position: sticky;
  top: 0;
  background-color: #0062E6;
  grid-column: 3 /4;
}

.grid-item-4 {
  position: sticky;
  top: 0;
  background-color: #0062E6;
  grid-column: 4 /5;
}

.grid-item-5 {
  position: sticky;
  top: 0;
  background-color: #0062E6;
  grid-column: 5 /6;
}

.grid-item-6 {
  position: sticky;
  top: 0;
  background-color: #0062E6;
  grid-column: 6 /7;
}

.grid-item-7 {
  position: sticky;
  top: 0;
  background-color: #0062E6;
  grid-column: 7 /8;
}

.grid-item-8 {
  background-color: #0062E6;
  grid-column: 1 /2;
}

.grid-item-9 {
  background-color: #dde7ff;
  padding: 1em;
  grid-column: 2/-1;
}

.grid-item-10 {
  position: relative;
  background-color: #0062e6;
  grid-column: 1 /-1;
}
