<app-navigation></app-navigation>
<div> {{"welcome to " +title}} {{firstName}} {{lastName}}</div>
{{greatUser()}}
<div>
  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
</div>
url du site {{siteUrl}}
<button (click)="refresh()" >Refresh</button>
<div class="layout-container layout-menu-light">
  <div>
    <div app-climbing-route></div>
    <label class="text-succes">nom:</label>
    <input bind-disabled="isDisabled" [id]="id1" type="text" value="toto">
    <app-climbers></app-climbers>
    <app-users></app-users>
    <app-friends></app-friends>
  </div>
    <button (click)="foo()"> Get Climbers</button>
  <h2 [class.text-danger]="hasError">test element</h2>
  <h2 [ngClass]="messageClasses">test element</h2>
  <router-outlet></router-outlet>
</div>
