<app-navigation></app-navigation>
<div> {{"welcome to " +title}} {{firstName}} {{lastName}}</div>
{{greatUser()}}
<div>
  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
</div>
url du site {{siteUrl}}

<div class="layout-container layout-menu-light">
  <div>
    <div app-climbing-route></div>
    <label>nom:</label>
    <input type="text" value="toto">
    <app-climbers></app-climbers>
    <app-users></app-users>
    <app-friends></app-friends>
  </div>
    <button (click)="foo()"> Login</button>
  <router-outlet></router-outlet>
</div>
