<p>in-test works!</p>

<button [class]="hasError" (click)="onClick($event)">PRESS ME</button>{{name}}

<!--reference avec # et un methode -->
<input #mail type="text" label="Mail">
<button (click)="logMessage(mail)">Mail</button>

<!--2 way binding-->
<input [(ngModel)]="lastName" type="text" label="test">{{lastName}}

<!--bloc if then else en trois lignes -->
<div *ngIf="displayName; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock><h1>1 </h1></ng-template>
<ng-template #elseBlock><h1>2</h1></ng-template>

<!--le switch case default-->
<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'">red chose</div>
  <div *ngSwitchCase="'blue'">blue chose</div>
  <div *ngSwitchCase="'yellow'">yellow chose</div>
  <div *ngSwitchDefault>Pick again</div>
</div>

<h3>hello {{parentData}} <button (click)="sentEvent()">Send event</button></h3>

