
<!-- Navigation -->
<div class="test">
<button color="warn" mat-raised-button [matMenuTriggerFor]="climbersMenu">Climbers</button>
<mat-menu #climbersMenu="matMenu" yPosition="above">
  <button mat-menu-item>Friends</button>
  <button mat-menu-item>Cards</button>
</mat-menu>

<button color="warn" mat-raised-button [matMenuTriggerFor]="routesMenu">Routes</button>
<mat-menu #routesMenu="matMenu" yPosition="below">
  <button mat-menu-item>Add New</button>
  <button mat-menu-item>List</button>
  <button mat-menu-item>Around You</button>
  <button mat-menu-item>Indoor</button>
  <button mat-menu-item>Outdoor</button>
</mat-menu>

<button color="warn" mat-raised-button [matMenuTriggerFor]="cardsMenu">Cards</button>
<mat-menu #cardsMenu="matMenu" xPosition="before">
  <button mat-menu-item>New</button>
  <button mat-menu-item>Collection</button>
</mat-menu>


<button color="warn" mat-raised-button [matMenuTriggerFor]="afterMenu">Boulders</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Indoor</button>
  <button mat-menu-item>Outdoor</button>
</mat-menu>

<button color="warn" mat-raised-button [matMenuTriggerFor]="contactMenu">Contact</button>
<mat-menu #contactMenu="matMenu" xPosition="after">
  <button mat-menu-item>Contact Us</button>
  <button mat-menu-item>Request features</button>
</mat-menu>

<button color="warn" mat-raised-button [matMenuTriggerFor]="gpsMenu">GPS</button>
<mat-menu #gpsMenu="matMenu" xPosition="after">
  <button mat-menu-item>Indoor</button>
  <button mat-menu-item>Outdoor</button>
</mat-menu>
</div>
