<h1 [class.gray]="h1StyleBool">Home</h1>
<h1 [ngClass]="{
'gray': h1StyleBool,
'large': !h1StyleBool
}">Test1</h1>
<h1 [style.color]="h1StyleBool ? 'orange': 'black'" >Test2</h1>
<h1 [ngStyle]="{
'color': h1StyleBool ? 'blue' : 'green',
'font-size': !h1StyleBool ? '2em' : '4em'
}">Test3</h1>
<button (click)="firstClick()">Click me</button>
<!--si le climbers est non vide -->
<!--<ul *ngIf="climbers">-->
<!--  <li *ngFor="let climber of climbers">-->
<!--    <img [src]="climber.avatar">-->
<!--    <p>{{ climber.firstName }} {{ climber.lastName }} {{climber.birth}} {{climber.language}}</p>-->
<!--  </li>-->
<!--</ul>-->
<!--<ul *ngIf="friends">-->
<!--  <li *ngFor="let friend of friends">-->
<!--    <p>{{ friend.firstName }} {{ friend.lastName }}</p>-->
<!--    <p>{{climbers}}</p>-->
<!--  </li>-->
<!--</ul>-->

