<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:font-family="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ClimbingZone</title>
</head>
<body>
<div><H3>ADMIN</H3></div>
<div><H3>VIDEO</H3></div>
<div><H3>LOGIN</H3></div>


<div>
    <h1><p tex><b>Demarrage de mon projet ultra simple :</b></p></h1>
    <i>Cloner le git </i>
    <a href="https://github.com/francoisauxietre/climbingzone.git">https://github.com/francoisauxietre/climbingzone.git</a>
    <div ba><p>Dockerisation de "spring" "angular" "react" "vuejs" dans le même docker compose pour tout tester
        <b>easy</b></p>
        <code {
              font-family: monospace;
              }>docker-compose up</code>
        <p>et tout est lancer pour tester les fronts"</p>
    </div>
    <p>
        pour Angular n'ayant jamais fait avant les couches et surcouches sont ultra puissantes
        mais demande pas mal d'investissement pour en faire
        redux store tester dans angular et react.
    </p>
    <b>UN GRAND MERCI POUR TOUT CE QUE J'AI APPRIS. MEME SI J'AI PRIS BEAUCOUP DE TEMPS POUR ESSAYER DE FAIRE LE
       MAX.</b>
    <b>Par contre je n'ai pas tout implémenter car ça aurait été très long.</b>
    <p> J'ai surtout essayé de bosser sur les principes de tous ces frameworks.
        Merci aux plugin de intelij ... pour la base mysql , les lombox, etc.</p>
    <b> En te Remerciant Olivier et Luc pour tous vos conseils
        Amicalement François</b>

    <p>Pas eu le temps de faire complètement l'intégration continue avec travis</p>
    <p>Site en production sur :</p>

    <a href="http:localhost:8080">LOCAL HOST</a>

    <h2>API:</h2>
    <a href="swagger-ui.html">Swagger</a>
    <a href="swagger-ui.html">Postman</a>
    <h2>Documentation</h2>
    <ul>
        <li>
            <a href="/v2/api-docs">docs api</a>
        </li>
        <li>
            <a href="documentation ">autre docs</a>
        </li>
    </ul>

    <h2>FRONT WITH ANGULAR:</h2>
    <p> lancer le projet angular et l'acces à la base de données dans docker-compose up du spring
        <a href="http:localhost:4200/">ANGULAR FRONT</a>
        <input type="submit" value="Go to Angular"/>


    <h2>FRONT WITH REACT:</h2>
    <p> lancer le projet angular et l'acces à la base de données dans docker-compose up du spring
        <a href="http:localhost:8081/">REACT FRONT</a>
        <input type="submit" value="Go to React"/>


    <h2>FRONT WITH VUE JS:</h2>
    <p> lancer le projet angular et l'acces à la base de données dans docker-compose up du spring
        <a href="http:localhost:8080/">VUES-JS FRONT</a>
        <input type="submit" value="Go to Vues-js"/>
    </p>
    <h3>Projet complet sur le gitHub</h3>
    <p>Version Complete Sous <a href="https://github.com/francoisauxietre/climbingzone"><h1>Climbingzone</h1></a></p>
    <p> Dans ce projet on trouvera Les 3 Fronts </p>
    <p> Dans les dossiers Angular <a href="https://github.com/francoisauxietre/climbingzone/tree/master/angular">Angular
                                                                                                                 git</a>
    </p>
    <p> Dans les dossiers React <a href="https://github.com/francoisauxietre/climbingzone/tree/master/react">React
                                                                                                             git</a></p>
    <p> Dans les dossiers Vue-JS <a href="https://github.com/francoisauxietre/climbingzone/tree/master/vue">Vues-Js
                                                                                                            git</a></p>
    <p>Autre version juste générée pour tester Jhipster sous ClimbingZone5 avec un front angular</p>
    <a href="https://github.com/francoisauxietre/climbingzone5">
        Climbing Zone by jhipster
    </a>
    <p>Autre version juste générée pour tester Jhipster sous ClimbingZone3 avec un front react</p>
    <a href="https://github.com/francoisauxietre/climbingzone3">Climbing Zone by jhipster </a>

</div>
</body>
</html>
