<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Climbing Zone V1.0</h1>
        <p class="lead">Acces for anyone:
        <hr class="my-4">
    </div>



    <!--                <a href="documentation/index.html"><i class="fas fa-book"></i> Documentation</a>-->
    <!--                <a href="profile/index.html"><i class="fas fa-tasks"></i> Management</a>-->
    <!--                <a href="video"><i class="fas fa-coffee"></i> Olivier Barais</a>-->
    <!--                <a href="admin"><i class="fas fa-user-lock"></i> Admin</a>-->

</div>
</div>
</body>
</html>