<p>maps works!</p>
<h1>Your map</h1>
<div>
  <button (click)="roadClick">Roadmap</button><button (click)="satelliteClick()">Satellite</button><button (click)="hybridClick()">Hybrid</button>
  <button (click)="terrainClick()">terrain</button>

  <agm-map [latitude]="latitude" [longitude]="longitude" [fullscreenControl]='true' [mapTypeControl]='true' [mapTypeId]=typeTerrain>
    <agm-marker *ngFor="let climbingroute of climbingroutes" [latitude]="climbingroute.latitude" [longitude]="climbingroute.longitude">
      <agm-info-window>
        <h3><strong>{{climbingroute.climbingRouteName}}</strong></h3>
        <p>you are here</p>
      </agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="chezMoiLat" [longitude]="chezMoiLong">
      <agm-info-window>
        <h3><strong>18 rue malaguti 35000 rennes</strong></h3>
        <p>Mon appartement</p>
      </agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="isticLat" [longitude]="isticLong">
      <agm-info-window>
        <h3><strong>ISTIC rennes</strong></h3>
        <p>Ma FAC</p>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
